/* Reset básico */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo geral do site */
body {
    height: 100vh;
    width: 100vw;
    background-image: url('img/FOTO.png'); /* caminho da sua imagem */
    background-size: cover;           
    background-repeat: no-repeat;     
    font-family: 'Medula One', Open 'Sans';
    background-position: center 100px; 
}

/* Cabeçalho (barra preta no topo com logo centralizada) */
.logo-login {
    background-color: black;
    display: flex;
    justify-content: flex-start; /* move a logo para a esquerda */
    align-items: center;
    padding: 10px 30px; /* adiciona espaço interno à esquerda */
}

.form-login {
    display: flex;
    justify-content: flex-end; /* move o conteúdo para o lado direito */
    align-items: center;
    height: calc(100vh - 120px);
    padding-right: 80px; /* distância da borda direita da tela */
}

/* Caixa do formulário com fundo semi-transparente */
.form-login form {
    background-color: rgba(92, 64, 51, 0.8);
    padding: 40px;
    border-radius: 25px;
    width: 500px;
    height: 450px;
    text-align: left;
    color: #000;
    box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/* Texto Email e Senha */
.form-login p {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 5px;
    color: black;
}

/* Campos de input */
.form-login input[type="text"],
.form-login input[type="password"] {
    width: 100%;
    padding: 15px;
    border: none;
    border-radius: 25px;
    margin-bottom: 20px;
    font-size: 16px;
    background-color: #fff;
}

/* Botão de login */
.form-login input[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: #ff9d9d;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* Efeito ao passar o mouse no botão */
.form-login input[type="submit"]:hover {
    background-color: #ff7b7b;
}

/* Botão de login */
.button[type="submit"] {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 25px;
    background-color: #ff9d9d;
    color: white;
    font-size: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* Efeito ao passar o mouse no botão */
.button[type="submit"]:hover {
    background-color: #ff7b7b;
    box-shadow: 0 6px 14px rgba(0, 0, 0, 0.2);
}